page-movie-detail {

  .label{
    font-size: 150%
  }

  .badge-container{
    text-align: center
  }

  .badge-info{
    align-content: center;
    width: 100%;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
  }

.detail-action-button{
  width: 100%;
}

  .buttons-container{
    text-align: center
  }

  .text-container{
    font-size: 18px;
  }

  .button-section{
    text-align: center;
  }
  .poster{
    width: 100%;
    min-width: 50%;
    text-align: center;
  }




}
